/**
 *  Colores:
 *  	header: rgba(52, 52, 52, 80%);
 *
 *  Fuentes:
 *  	General: Istok Web;
 *  	Textos: DuruSans;
 */

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Istok Web', sans-serif;
}
#header {
	background: rgba(52, 52, 52, 0.6);
	height: 70px;
	width: 100%;
	z-index: 10;
}

#header .logo {
	font-size: 48px;
	color: white;
	float: left;
	padding-left: 100px;
}

/** MENUS **/
#header nav {
	float: right;
	color: white;
	margin-right: 20px; /* Quitar esto si quieres que llegue el menú hasta el borde al hover */
}
#header nav .nav-menu ul li {
	margin-top: -15px;
	list-style: none;
	float: left;
	padding: 23px 10px;
	width: 90px;
	text-align: center;
}
#header nav .nav-menu ul li a {
	color: white;
	text-decoration: none;
}
#header nav .nav-menu ul li:hover {
	background: rgba(36, 36, 36, 0.6);
	-moz-box-shadow: inset -2px 2px 10px 1px #333;
	-webkit-box-shadow: inset -2px 2px 10px 1px #333;
	box-shadow: inset -2px 2px 10px 1px #333;
}
#header nav .nav-menu ul li:hover > a {
	color: rgba(219, 150, 0, 1);
}
/** SUBMENUS **/
.children {
	display: none;
	position: relative;
	float: none;
	margin: 10px auto 0px auto;
	padding: 0px;
}
#header nav .nav-menu ul li:hover > .children {
	display: block;
	position: absolute;
	margin-top: 22px;
	margin-left: -10px;
	background: rgba(36, 36, 36, 0.6);
	/*padding: 10;*/
	width: 110px;
	/*height: 500px;*/
	z-index: 9999999;
}
#header nav .nav-menu ul li:hover > .children li {
	margin: 0 auto;
	text-align: center;
	float: none;
	padding: 8px 10px;
}
.children li a {
	font-size: 13px;
}
.children li:hover {
	background: rgba(135, 114, 0, 0.6) !important;
}
.children li:hover > a {
	color: white !important;
}

#header .timer {
	position: relative;
	top: 69px;
	width: 100%;
	height: 5px;
	background: rgba(219, 150, 0, 1);
	z-index: 1;
}

#footer {
	text-align: center;
	height: 30px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	background: rgba(52, 52, 52, 0.6);
	color: #c6baa2;
    text-shadow: 1px 1px 3px #000000;
    filter: dropshadow(color=#000000, #blog offx=1, #blog offy=1);
}
#footer p {
	margin-top: 3px;
}

#slideshow img.scroll-bg {
	display: none;
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	z-index: -2;
}
#slideshow img.active {
	display: block;
	z-index: -1;
}
#slideshow img.last-active {
	display: block;
	z-index: -2;
}
#slder_container {
	width: 450px;
	position: relative;

	/*top: 40%;*/
	/*left: 60px;*/
}
#slide_info {
	position: relative;
	margin-top: 3%;
	margin-left: 60px;
	
}
.slide_text {
	position: relative;
	/*top: 20%;*/
	padding: 10px;

	/*height: 200px;*/
	width: 450px;
	color: white;
	border-radius: 10px;
	background: rgba(20, 16, 13, 0.6);
	z-index: 2;
	display: none;
}
.slide_text.active {
	display: block;
}
.slide_text h3 a {
	text-decoration: none;
	color: rgba(236, 242, 223, 1);
	margin-left: 25px;
}
.slide_text h3 a:hover {
	color: rgba(219, 150, 0, 1);
}
.slide_text p {
	margin: 35px;
	color: rgba(198,186,162,1);
}
#slider_index {
	position: absolute;
	left: 60px;
	width: 470px;
	margin: 10px auto;
}
.slider_thumb {
	opacity: 0.7;
	float: left;
	margin: 3px;
	border-radius: 8px;
	padding: 0;
	border: 2px solid black;
	width: 83px;
	height: 83px;
}
.slider_thumb.active {	
/*	-moz-box-shadow: inset -2px 2px 10px 1px #333;
	-webkit-box-shadow: inset -2px 2px 10px 1px #333;
	box-shadow: inset -2px 2px 10px 1px #333;*/
	background-position: 0px 83px;
	border: 2px solid rgba(219, 150, 0, 1);
}
/*.slider_thumb:hover {
	border: 2px solid rgba(219, 150, 0, 1);
	cursor: pointer;
	opacity: 1;

}*/
/*.slider_thumb.active, .slider_thumb.active:hover  {
	border: 2px solid rgba(219, 150, 0, 1);
	opacity: 0.7;
	cursor: auto;
}*/